/*-----TABLETS-----*/
@media only screen and (min-width: 650px){
    .main-content{
        margin-top: 150px;
    }
    .main-content-home{
        margin-top: 130px;
    }
    .logo img{
        height: 4em;
    }
    .menu-icon{
        display: none;
    }
    .top-nav ul{
        display: flex;
        justify-content: center;
    }
    .img-container{
        width: 100%;
    }
    .img-container img{
        width: 100%;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
    /*if toggle open */
    .top-nav.toggle-open ul{
        display: flex;
    }
    .top-nav ul li {
        padding: .25em;
        padding-bottom: .75em;
        border-top-color: #FF69B4;
    }
    .top-nav ul li a{
        font-size: 1.25em;
        display: flex;
        justify-content: space-around;
        padding-bottom: 3px;
    }
    .menu-icon a{
        font-size: 1.25em;
    }
    .top-nav ul li a.current-page{
        color: #FF69B4;
        font-weight: bold;
    }projects
    .top-nav ul li a:hover, .top-nav ul li a:focus{
        background-color: #000000;
        color: #07fcfc;
        font-weight: bold;
    }
    .top-nav ul li a:hover:before, .top-nav ul li a:focus:before{
        content: "\2665  ";
        color: #07fcfc;
        padding-right: 4px;
        position: relative;
        top: 1px;
    }
    /* .img-container{
        width: 100%;
    }
    .img-container img{
        width: 100%;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em; */
    /* .img-container img{
        width: 40%;
        margin: auto; */
}

/*-----DESKTOPS-----*/
@media only screen and (min-width: 1100px){
    .main-content{
        margin-top: 100px;
    }
    .main-content-home{
        margin-top: 75px;
    }
    .top-nav{
        display: flex;
        justify-content: space-between;
    }
    .top-nav ul {
        align-items: center;
        padding-right: .5em;
    }
    .top-nav ul li {
        padding: .25em;
        border-top: none;
    }
    .home-flag{
        max-width: 400px;
    }
    .img-container{
        width: 100%;
    }
    .img-container img{
        width: 100%;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
}

/*-----OTHER-----*/
/*further breakpoints for content on about, projects, and life*/
@media only screen and (min-width: 300px){
    /*photo gallery*/
    .photo-grid{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .photo-cell{
        width: 47.5%;
    }
    .landscape{
        width: 98%
    }
    .img-container{
        width: 100%;
    }
    .img-container img{
        width: 100%;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
    /*about*/
    .about{
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: center;
        align-items: center;
    }
    .text-container{
        width: 50%;
        margin-left: -4em;
    }
    .img-container{
        width: 100%;
    }
    .img-container img{
        width: 100%;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
    /*projects*/
    .projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .projects-intro{
        width: 100%
        flex: 2;
    }
    .pims-img{
      width: 100%;
    }
    .amazon-img{
      width: 100%;
    }
    .label-insight-img{
      width: 100%;
    }
}
@media only screen and (min-width: 800px){
    /*about*/
    .about{
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: center;
        align-items: center;
    }
    .text-container{
        width: 50%;
        margin-left: -4em;
    }
    .img-container{
        width: 100%;
    }
    .img-container img{
        width: 100%;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .resume-pdf{
      width: 100%;
    }
    /*projects*/
    .projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }
    .projects-intro{
        width: 100%
        flex: 2;
    }
    /*life - photo gallery*/
    .photo-cell{
        width: 22.75%;
    }
    .landscape{
        width: 47.5%;
    }

}
